.skills {
	background-color: var(--pink);
	left: 0;
	right: 0;
	position: absolute;
	display: grid;
	padding: 50px;
}

.icon {
	height: 100px;
	width: 100px;
}

i {
	font-size: 100px;
	background-color: white;
	color: var(--pink);
	border-radius: 10px;
}

.column {
	float: left;
	width: 20%;
	padding: 30px;
}

.opposite {
	background-color: var(--pink);
	color: white;
	border-radius: 10px;
}