.skills {
	background-color: var(--pink) !important;
	display: grid;
	grid-template-columns: 5(repeat auto);
	grid-template-rows: 5(repeat 150px);
	row-gap: 20px;
	padding: 10px 10% 0 10%;
}

.skills-title {
	grid-row: 1 /2;
	grid-column: span 5;
}

.icon {
	height: 150px;
	width: 150px;
	justify-self: center;
}

.icon-name {
	text-align: center;
}

i {
	font-size: 100px;
	background-color: white;
	color: var(--pink);
	border-radius: 10px;
	border: white solid 2px;
	align-items: center;
}

i:hover {
	color: var(--green)
}

.devicon {
	margin-left: 25px;
}


.opposite {
	background-color: var(--pink);
	color: white;
	border-radius: 10px;
}

/* Grid icons */
.icon-1, .icon-2, .icon-3, .icon-4, .icon-5 {
	grid-row: 2 / 3;
	
}
.icon-6, .icon-7, .icon-8, .icon-9, .icon-10 {
	grid-row: 3 / 4;
}
.icon-11, .icon-12, .icon-13, .icon-14, .icon-15 {
	grid-row: 4 / 5;
}
.icon-16, .icon-17, .icon-18, .icon-19, .icon-20 {
	grid-row: 5 / 6;
}
.icon-21, .icon-22, .icon-23, .icon-24, .icon-25 {
	grid-row: 6 / 7;
}

@media (max-width: 900px) {
	.skills {
		grid-template-columns: 4(repeat auto);
	}
	.skills-title {
		grid-column: span 4;
	}
	.icon-1, .icon-2, .icon-3, .icon-4 {
		grid-row: 2 / 3;	
	}
	.icon-5, .icon-6, .icon-7, .icon-8 {
		grid-row: 3 / 4;
	}
	.icon-9, .icon-10, .icon-11, .icon-12 {
		grid-row: 4 / 5;
	}
	.icon-13, .icon-14, .icon-15, .icon-16 {
		grid-row: 5 / 6;
	}
	.icon-17, .icon-18, .icon-19, .icon-20 {
		grid-row: 6 / 7;
	}
	.icon-21, .icon-22, .icon-23, .icon-24 {
		grid-row: 7 / 8;
	}
	.icon-25 {
		grid-row: 9 / 10;
	}
}

@media (max-width: 750px) {
	.skills {
		grid-template-columns: 3(repeat auto);
	}
	.skills-title {
		grid-column: span 3;
	}
	.icon-1, .icon-2, .icon-3 {
		grid-row: 2 / 3;	
	}
	.icon-4, .icon-5, .icon-6 {
		grid-row: 3 / 4;
	}
	.icon-7, .icon-8, .icon-9 {
		grid-row: 4 / 5;
	}
	.icon-10, .icon-11, .icon-12 {
		grid-row: 5 / 6;
	}
	.icon-13, .icon-14, .icon-15 {
		grid-row: 6 / 7;
	}
	.icon-16, .icon-17, .icon-18 {
		grid-row: 7 / 8;
	}
	.icon-19, .icon-20, .icon-21 {
		grid-row: 8 / 9;
	}
	.icon-22, .icon-23, .icon-24 {
		grid-row: 9 / 10;
	}
	.icon-25 {
		grid-row: 10 / 11;
	}
}

@media (max-width: 300px) {
	.skills {
		grid-template-columns: 2(repeat auto);
	}
}