.about-container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(2 auto);
	padding: 10px 10% 0 10%;
	padding-top: 0px;

}

.about-photo {
	border-radius: 50%;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding-bottom: 30px;
	outline: none;
}

.about-text {
	grid-column: 2 / 3;
	text-align: right;
	grid-row: 2 / 3;
	font-size: 16px;
}

.row-about {
	grid-row-start: 1;
}

@media (max-width: 900px) {
	.about-container {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: repeat(2 auto);
	}
	.about-text {
		grid-column: 1 / 2;
		text-align: center;
		grid-row: 3 / 4;
	}
	.about-photo {
		grid-row: 2 / 3;
	}
	.row-about {
		grid-row: 1 / 2;
	}
}

@media (min-width: 1350px) {
	.about-text {
		font-size: 20px;
	}
}