.contact-container {
	background-color: var(--rose);
	padding: 60px;
	display: grid;
	grid-template-columns: repeat(3 auto);
	grid-template-rows: 50px 150px 50px;
	grid-gap: 20px;

}

.linkedin {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	display: flex;
	justify-content: center;
}

.github {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.resume {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

.email {
	grid-row: 3 / 4;
	grid-column: span 3;
}

.contact {
	display: flex;
	justify-content: center;
}