.contact {
	background-color: var(--rose);
	padding: 60px;
}

.contact-col {
	float: left;
	width: 33%;
	padding: 30px;
}

@media (max-width: 800px) {
	.contact-col {
		width: 33%;
	}
}

@media (max-width: 600px) {
	.contact-col {
		width: 40%;
	}
	.contact {
		padding: 20px;
	}
}