.App {
	position: absolute;
}

main {
	left: 0;
}

h1{
	padding-top: 20px;
}

h2 {
	font-size: 22px;
}

.about-skills {
	background: linear-gradient(0deg,#f6d3de, #fffbd6 );
	height: 70px;
}
.skills-work {
	background: linear-gradient(0deg, #cef2e1, #f6d3de );
	height: 70px;
}
.work-contact {
	background: linear-gradient(0deg,#fce8e1, #d1edfc );
	height: 70px;
}

@media (max-width: 800px) {
	h2 {
		text-align: center;
	}
}