/* CSS Custom Properties */
:root {
	--white: #ffffff;
	--rose: #fce8e1;
	--pink: #f6d3de;
	--violet: #cdb0da;
	--blue: #b2dcf3;
	--green: #cef2e1;
	--cream: #fffbd6;
	--text-blue: rgb(50, 50, 250);
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Goldman', cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--cream);
	padding: 2vmin;
	height: 100vh;
	/* position: absolute; */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#root {
	height: 100%;
}

.align-ctr {
	text-align: center;
}

.align-rt {
	text-align: right;
	padding-right: 155px;
}

.smaller {
	font-size: smaller;
}

.flex-ctr-ctr {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-col {
	flex-direction: column;
}

.flex-j-end {
	justify-content: flex-end;
}

.scroll-y {
	overflow-y: scroll;
}

.section-heading {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--tan-1);
	color: var(--text-dark);
	border: 0.1vmin solid var(--tan-3);
	border-radius: 1vmin;
	padding: 0.6vmin;
	text-align: center;
	font-size: 2vmin;
}

.form-container {
	padding: 3vmin;
	background-color: var(--tan-1);
	border: 0.1vmin solid var(--tan-3);
	border-radius: 1vmin;
}

p.error-message {
	color: var(--orange);
	text-align: center;
}

form {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 1.25vmin;
	color: var(--text-light);
}

label {
	font-size: 2vmin;
	display: flex;
	align-items: center;
}

button {
	background-color: var(--blue);
	border-color: var(--blue);
	height: 35px;
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
	text-decoration: none;
	color: blue;
	cursor: pointer;
}

.button {
	display: block;
	margin-top: 50px;;
	text-decoration: none;
}

.skills {
	background-color: var(--pink) !important;
	left: 0;
	right: 0;
	display: grid;
	padding: 60px;
}
