/* CSS Custom Properties */
:root {
	--white: #ffffff;
	--rose: #fce8e1;
	--pink: #f6d3de;
	--violet: #cdb0da;
	--blue: #b2dcf3;
	--lightblue: #d1edfc;
	--green: #cef2e1;
	--cream: #fffbd6;
	--text-blue: rgb(50, 50, 250);
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-family: 'Goldman', cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--cream);
	height:100%;
	width: 100%;
	position: absolute;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#root {
	height: 100%;
}

.align-ctr {
	text-align: center;
}


.smaller {
	font-size: smaller;
}

.scroll-y {
	overflow-y: scroll;
}

p.error-message {
	color: var(--orange);
	text-align: center;
}

label {
	font-size: 2vmin;
	display: flex;
	align-items: center;
}

.button {
	display: block;
	margin-top: 50px;;
	text-decoration: none;
}

.photo {
	height: 300px; 
	width: 300px;
	border-radius: 50%;
	margin-left: 100px;
}


