.work {
	background-color: var(--green);
	padding: 60px;
	width: 100%;
}

.cols {
	float: left;
	width: 50%;
	padding: 35px;
	justify-content: center;
	align-items: center;
	display: block;
}

.title {
	color: var(--violet);
	font-size: 25px;
}

.work-img {
	height: 50%;
	width: 50%;
	border-radius: 5px;
}

img:hover {
	opacity: 70%;
}

.img-right {
	float: right;

}

.img-left {
	float: left;
	margin-right: 55px;
}

.small-icon {
	font-size: 20px;
}

i {
	margin-left: 5px;
}

.btn-right {
	float: right;
	margin-right: 50px;
}

.btn-block {
	display: grid;
	float: right;
	padding-right: 50px;
}
